<footer class="footer">
  <div class="container">
    <div class="footer-content">
     <div class="footer-section-left">
      <h2 class="footer-logo">
        <a href="./index.html" class="footer-logo" aria-label="Go to Homepage">
          <img src="img/logo-white.svg" alt="Logo" />
        </a>
      </h2>
      <ul class="footer-social-links">
      <li>
        <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
          <img src="img/icons/social/facebook-normal.svg" alt="Facebook" class="footer-social-icon-normal" />
          <img src="img/icons/social/facebook-hover.svg" alt="Facebook Hover" class="footer-social-icon-hover" />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
          <img src="img/icons/social/instagram-normal.svg" alt="Instagram" class="footer-social-icon-normal" />
          <img src="img/icons/social/instagram-hover.svg" alt="Instagram Hover" class="footer-social-icon-hover" />
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer" aria-label="Youtube">
          <img src="img/icons/social/youtube-black-normal.svg" alt="Youtube" class="footer-social-icon-normal" />
          <img src="img/icons/social/youtube-black-hover.svg" alt="Youtube Hover" class="footer-social-icon-hover" />
        </a>
      </li>
    </ul>
  </div>
      <div class="footer-section-middle">
        <p class="footer-tagline">
          Transforming your <span class="footer-italic">body</span> shape with us
        </p>
      </div>

      <div class="footer-section-right">
        <h3 class="footer-subscribe-title">
          Subscribe and learn about new exercises!
        </h3>
        <form class="subscribe-form" id="subscribeForm">
          <input type="email" class="subscribe-input" id="subscribeEmail" placeholder="Email" aria-label="Email for subscription" required />
          <button type="submit" class="btn-primary" aria-label="Send">Send</button>
        </form>
        <div id="subscribeMessage"></div>
      </div>
    </div>

    <div class="footer-section-bottom">
      <div class="footer-wrapper">
        <div class="bottom-section-left">
          <p class="footer-copyright">Your Energy. All rights reserved.</p>
        </div>
        <div class="bottom-section-middle">
          <div class="footer-links-wrapper">
            <a href="#" class="footer-link">Privacy Policy</a>
            <span class="footer-separator">/</span>
            <a href="#" class="footer-link">Terms of Service</a>
          </div>
        </div>
        <div class="bottom-section-right">
          <p class="footer-year">©2023</p>
        </div>
      </div>
    </div>
  </div>
</footer>