<header class="header">
  <div class="container">
    <div class="header-wrapper">
      
      <a href="./index.html" class="logo" aria-label="Go to Homepage">
        <img src="img/logo-black.svg" alt="YOUR ENERGY" class="logo-icon" />
      </a>

      <nav class="nav-desktop">
        <div class="nav-container">
          <div class="nav-wrapper">
            <a class="nav-link nav-link-active" href="./index.html">Home</a>
            <a class="nav-link" href="./page-2.html">Favorites</a>
          </div>
        </div>
      </nav>

      <ul class="social-links">
        <li>
          <a href="https://facebook.com" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
            <img src="img/icons/social/facebook-normal.svg" alt="Facebook" class="social-icon-normal" />
            <img src="img/icons/social/facebook-hover.svg" alt="Facebook Hover" class="social-icon-hover" />
          </a>
        </li>
        <li>
          <a href="https://instagram.com" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
            <img src="img/icons/social/instagram-normal.svg" alt="Instagram" class="social-icon-normal" />
            <img src="img/icons/social/instagram-hover.svg" alt="Instagram Hover" class="social-icon-hover" />
          </a>
        </li>
        <li>
          <a href="https://youtube.com" target="_blank" rel="noopener noreferrer" aria-label="Youtube">
            <img src="img/icons/social/youtube-normal.svg" alt="Youtube" class="social-icon-normal" />
            <img src="img/icons/social/youtube-hover.svg" alt="Youtube Hover" class="social-icon-hover" />
          </a>
        </li>
      </ul>

      <button class="burger-btn" id="burgerBtn" aria-label="Toggle menu">
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
      </button>

      <div class="mobile-menu" id="mobileMenu">
        <button class="mobile-menu-close-btn" id="mobileMenuCloseBtn" aria-label="Close menu">
          <svg width="32" height="32" stroke="#F4F4F4">
            <use href="img/menu/x.svg"></use>
          </svg>
        </button>

        <nav class="mobile-nav">
          <ul class="mobile-nav-list">
            <li class="mobile-nav-item">
              <a class="mobile-nav-link" href="./index.html">Home</a>
            </li>
            <li class="mobile-nav-item">
              <a class="mobile-nav-link" href="./page-2.html">Favorites</a>
            </li>
          </ul>
        </nav>

        <ul class="mobile-socials">
          <li>
            <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
              <img src="/img/icons/social/facebook-black-normal.svg" alt="Facebook" class="mob-soc-normal"/>
              <img src="img/icons/social/facebook-black-hover.svg" alt="Facebook Hover" class="mob-soc-hover"/>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
              <img src="img/icons/social/instagram-black-normal.svg" alt="Instagram" class="mob-soc-normal"/>
              <img src="img/icons/social/instagram-black-hover.svg" alt="Instagram Hover" class="mob-soc-hover" />
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer" aria-label="Youtube">
              <img src="img/icons/social/youtube-black-normal.svg" alt="Youtube" class="mob-soc-normal"/>
              <img src="img/icons/social/youtube-black-hover.svg" alt="Youtube Hover" class="mob-soc-hover" />
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</header>