
.container {
  margin: 0 auto;
  padding: 0 20px;
}


@media only screen and (min-width: 768px) {
  .container {
    max-width: 100%;

  }
}


@media only screen and (min-width: 1024px) { 
  .container {
    max-width: 1440px; 
    width: 100%;
    padding: 0 64px; 
  }
}


@media only screen and (min-width: 1440px) {
  .container {
    max-width: 100%;
  }
}