/* ========================================= */
/* ======  MOBILE ======*/
/* ========================================= */

:root {
  --font-family: 'DM Sans', sans-serif;
  --text-white: #ffffff;
  --tagline-size: 56px;
  --tagline-lh: 60px;
  --tagline-ls: -0.02em;
}

/* ======   SECTION ======  */

.container{
  padding: 20px;
}

.footer {
  background-color: #242424;
  color: #b0b0b0;
  padding-top: 60px;
  
}

.footer-content {
  display: flex;
  flex-direction: column; 
  gap: 20px;            
}

.footer-section-left,
.footer-section-middle,
.footer-section-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
}

.bottom-section-left,
.bottom-section-middle
.bottom-section-right{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start; 
  text-align: left;
}

 .bottom-section-left{
    grid-column: 1;
    grid-row: 1;
  }

  .bottom-section-middle{
    grid-column: 1;
    grid-row: 2;
  }

.bottom-section-right{
  align-items: flex-end;
  text-align: end;
}

/* =====  Logo + social ===== */


.footer-logo {
  display: inline-block;
}

.footer-logo a {
  width: 100%;
  height: 100%;
  max-width: 132px;
  max-height: 24px;
}

.footer-social-links {
  display: flex;
  gap: 12px;
  margin-top: 20px;
  list-style: none;
  justify-content: center; 
}

.footer-social-links a {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
}

.footer-social-links img {
  width: 100%;
  height: 100%;
  display: block;
}

.social-icon-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.footer-social-links a:hover .social-icon-hover {
  opacity: 1;
}

.footer-section-middle {
  text-align: left;
  align-items: flex-start;
}

.footer-tagline {
  font-family: var(--font-family);
  letter-spacing: var(--tagline-ls);

  font-size: 38px;
  line-height: 44px;
  color: #f4f4f4;
  font-weight: 400;

  padding-top: 20px;
  width: 100%;
}

.footer-italic {
  font-style: italic;
}

.footer-section-right{
  
  width: 100%;
  max-width: 100%;
  height: auto;
}


.footer-subscribe-title {
  font-family: var(--font-family);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  color: #F4F4F4;
  letter-spacing: 0px;
  line-height: 18px;

  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;

  gap: 16px;
  width: 100%;       
}

.subscribe-input {
  padding: 12px 14px;
  border: 1px solid #f4f4f4;
  border-radius: 30px;
  color: #ffffff;
  background-color: transparent;
  width: 100%;
  outline: none;
}

.btn-primary {
  padding: 12px;
  background: #f4f4f4;
  border-radius: 30px;
  color: #242424;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s ease;

  font-family: var(--font-family);
  letter-spacing: 0;
}

.btn-primary:hover {
  background: #ffffff;
}

.footer-section-bottom, .footer-wrapper { 
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  align-items: center;
}

.footer-section-bottom {
  margin-top: 60px;
  padding-top: 20px;
  width: 100%;
}

.footer-wrapper {
  gap: 16px;
  width: 100%;
  font-family: var(--font-family);
  font-size: 14px;
  color: #C6CDD1;
}

.footer-links-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-separator {
  margin: 0 4px;
}

.footer-link {
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #ffffff;
}


/* ========================================= */
/* =======    TABLET  ========= */
/* ========================================= */


@media screen and (min-width: 768px) {


  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }

  .footer-section-left {
    grid-column: 1;
    grid-row: 1 / span 2; 
    display: block; 
  }

  .footer-logo a{
    height: 34px;
    
  }

  /*  Socail */
  .footer-social-links { 
    display: flex;
    align-items: flex-start;
    justify-content: left;
  }

  .footer-social-links a {
    margin-top: 0;
    width: 44px;
    height: 44px;
  }

  .footer-section-middle {
    grid-column: 2;
    grid-row: 1;
  }

  .footer-tagline {
    max-width: 100%;
    font-size: 56px; 
    line-height: 60px;
    padding-top: 0px;  
  }

  
  .footer-section-right {
    grid-column: 2;
    grid-row: 2;
  }

  .bottom-section-left{
    grid-column: 1;
    grid-row: 1;
    width: auto;
  }

  .bottom-section-middle{
    grid-column: 2;
    grid-row: 1;
  }

  .bottom-section-right{
    grid-column: 3;
  }

  .footer-subscribe-title {
    font-size: 18px; 
    max-width: 100%;
    line-height: 24px;
  }

  .subscribe-form {
    max-width: none;
    width: 100%;
  }

  .subscribe-input, .btn-primary {
    height: 48px; 
    font-size: 16px;
  }


  .footer-section-bottom{
    margin-top: 64px;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 16px;
  }

  .bottom-section-middle{
    display: flex;
    align-items: flex-start;
    padding-left: 78px;
  }

  .bottom-section-right{
    display: flex;
  }

  .footer-section-bottom .footer-section-left {
    width: auto;
    order: 1;
    margin-right: auto;
  }

  
  .footer-section-bottom .footer-section-middle {
    width: auto;
    order: 2;
    margin-right: 0; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .footer-section-bottom {
    position: relative;
    justify-content: space-between;
  }

  .footer-section-bottom .footer-section-right {
    width: auto;
    order: 3;
  }

  .footer-wrapper {
    flex-direction: row; /* В рядок */
    justify-content: space-between;
  }

  .footer-social-links a {
  display: block;
  width: 44px;
  height: 44px;
  position: relative;
}

}


/* ========================================= */
/* ====== DESKTOP  ======   */
/* ========================================= */



@media screen and (min-width: 1440px) {

  .container{
    padding-left: 32px;
    padding-right: 32px;
  }

  .footer{
    padding-top: 64px;
  }

  .footer-content {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-start; 
    text-align: left; 
    gap: 20px;
  }

  .footer-section-left {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px; 
  }

  .footer-section-bottom{
    padding-top: 0px;
    margin-top: 70px;
  }
  
  .footer-logo {
    margin-bottom: 0;
  }

  .footer-social-links {
    margin-top: 35px; 
  }

  .footer-section-middle {
    width: auto;
    display: flex;
    align-items: center;
    text-align: center;
    grid-column: 2;
  }

  .footer-tagline {
    max-width: none; 
  }

  .footer-section-right {
    
    grid-column: 3;
    align-items: flex-start; 
  }

  .footer-section-bottom .footer-section-middle {
     position: static;
     transform: none;
     margin-left: 154px; 
     margin-right: auto;
  }

  .footer-section-left {
    align-items: flex-start; 
    text-align: left;
    flex: 1;
  }
  
  .footer-social-links {
    margin-top: 32px;
    justify-content: flex-start;
  }

  
  .footer-section-middle {
    flex: 2;
    align-items: flex-start; 
    text-align: left;    
  }

  .footer-tagline {
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
    font-size: 56px; 
    line-height: 60px;
    letter-spacing: var(--tagline-ls);
    max-width: 595px;
    color: #f4f4f4;
  }

  .footer-section-right {
    flex: 1;
    align-items: flex-end; 
    text-align: left;
  }

  .footer-subscribe-title {
    max-width: none;
    width: 100%;
    text-align: left; 
    align-items: flex-start;
  }

  .footer-social-links a {
  display: block;
  width: 44px;
  height: 44px;
  position: relative;
}
  .bottom-section-left{
    flex: 1;
  }

  .bottom-section-middle{
    padding-left:0%;
    flex: 2;
  }

  .bottom-section-right{
    display: flex;
    flex: 1;

  }
  
}